In [100]:
import pandas as pd
data=pd.read_table('BRCA_For_Algorithm.txt')

In [109]:
def bubbleSort(name):
  for i in range(len(name)-1):
    for j in range(len(name)-i-1):
      if(name[j]>name[j+1]):
        data.iloc[[j,j+1]]=data.reindex([j+1,j])
choose=input('請輸入要排序的名稱(Chromosome、Start、End、Num_Probes、Segment_Mean)')
if choose=='Chromosome':
  a=data['Chromosome']
elif choose=='Start':
  a=data['Start']
elif choose=='End':
  a=data['End']
elif choose=='Num_Probes':
  a=data['Num_Probes']
elif choose=='Segment_Mean':
  a=data['Segment_Mean']
bubbleSort(a)
data.head()

請輸入要排序的名稱(Chromosome、Start、End、Num_Probes、Segment_Mean)Segment_Mean

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1851: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

,Sample,Chromosome,Start,End,Num_Probes,Segment_Mean
0,TCGA-3C-AAAU-10A-01D-A41E-01,1,173063179,173068463,16,-2.9874
1,TCGA-3C-AAAU-10A-01D-A41E-01,1,16026123,16026512,5,-2.7441
2,TCGA-3C-AAAU-10A-01D-A41E-01,1,150822330,150853200,34,-2.2466
3,TCGA-3C-AAAU-10A-01D-A41E-01,1,72541504,72583736,46,-1.7394
4,TCGA-3C-AAAU-10A-01D-A41E-01,1,95449099,95449106,2,-1.6636